<!DOCTYPE html>
<html>
  <head>
    <title>IntoTheGloss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.left_hero = "<%= image_url('left_hero.jpg') %>"</script>
    <script type="text/javascript"> window.right_hero = "<%= image_url('right_hero.jpg') %>"</script>
    <script type="text/javascript"> window.glossier_g= "<%= image_url('glossier_g.png') %>"</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
