<!DOCTYPE html>
<html>
  <head>
    <title>IntoTheGloss</title>
      <meta property="og:title" content="IntoTheGloss" />
     <meta property='og:image' content="<%= image_url('readme/Splash.png') %>"/>
     <meta property="og:description"
       content="Beauty and skincare full stack web-application inspired by Glossier implemented with Ruby on Rails backend, and React Redux frontend."
     />
     <meta property="og:url"
       content="https://isabelle-glossier.herokuapp.com/#/"
     />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'glossier_g.png' %>
    <script type="text/javascript"> window.left_hero = "<%= image_url('left_hero.jpg') %>"</script>
    <script type="text/javascript"> window.right_hero = "<%= image_url('right_hero.jpg') %>"</script>
    <script type="text/javascript"> window.glossier_g= "<%= image_url('glossier_g.png') %>"</script>
    <script type="text/javascript"> window.shopping_cart_g= "<%= image_url('shopping_cart_g.png') %>"</script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
